<form
    action="/userUpdate"
    method="POST"
    style="display: flex; flex-direction: column; max-width: 350px"
>
    <input autocomplete="off" type="hidden" name="id" value={{user.id}} />
    <div class="form-group">
        <label
            for="loginInput"
            style="display: flex; width: 100%; align-items:start"
        >Login:</label>
        <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="loginInput"
            name="login"
            value="{{user.login}}"
        />
    </div>
    <div class="form-group">
        <label
            for="passwordIput"
            style="display: flex; width: 100%; align-items:start"
        >Senha:</label>
        <input
            autocomplete="off"
            type="password"
            class="form-control"
            id="passwordIput"
            name="password"
            value="{{user.password}}"
        />
    </div>
    <div class="form-group">
        <label
            for="nameInput"
            style="display: flex; width: 100%; align-items:start"
        >Nome:</label>
        <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="nameInput"
            name="name"
            value="{{user.name}}"
        />
    </div>
    <div class="form-group">
        <label
            for="typeInput"
            style="display: flex; width: 100%; align-items:start"
        >Tipo:</label>
        <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="typeInput"
            name="type"
            value="{{user.type}}"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Editar</button>
</form>