<table class="table">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">Nome</th>
            <th scope="col">Senha</th>
            <th scope="col">Tipo</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <th scope="row">{{login}}</th>
                <td>{{name}}</td>
                <td>{{password}}</td>
                <td>{{type}}</td>
                <td><a href="userUpdate/{{id}}">Editar</a></td>
                <td><a href="userDelete/{{id}}">Deletar</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>